<% include ../partials/header.ejs %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Cadastro Equipamento</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2"></div>
        </div>
        </div>
        <div>
            <form method="post">
            <div class="form-group">
                <label for="fieldFabricante">Fabricante</label>
                <input type="text" class="form-control" id="fieldFabricante" name="fabricante" value="<%= lista.fabricante %>">
            </div>
            <div class="form-group">
                <label for="fieldModelo">Modelo</label>
                <input type="text" class="form-control" id="fieldModelo" name="modelo" value="<%= lista.modelo %>">
            </div>
            <div class="form-group">
                <label for="fieldVeiculo">Veiculo</label>
                <input type="text" class="form-control" id="fieldVeiculo" name="veiculo" value="<%= lista.veiculo %>">
            </div>
            <div class="form-group">
                <label for="fieldQuantidade">Quantidade</label>
                <input type="number" class="form-control" id="fieldQuantidade" name="quantidade" value="<%= lista.quantidade %>">
                </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            </form>
        </div>
    </main>
<% include ../partials/footer.ejs %>
